.background {
  viewport-fill: black;
  width: 100%;
  height: 100%;
}

#myClock {
  font-size: 65;
  font-family: Colfax-Black;
  text-length: 8;
  text-anchor: middle;
  x: 43%;
  y: 80;
  fill: white;
}
#myClockSeconds {
  font-size: 30;
  font-family: Colfax-Regular;
  text-length: 4;
  text-anchor: middle;
  x: $+35;
  y: 83;
  fill: white;
}
#day{
  font-size: 30;
  font-family: Colfax-Black;
  text-length: 4;
  text-anchor: middle;
  x: $;
  y: 40;
  fill: white;
}

#outerBorder{
  x: 0;
  y: 0;
  width: 99%;
  height: 99%;
  fill: magenta;
}
#innerBorder{
  x: 1;
  y: 1;
  width: 98%;
  height: 98%;
  fill: black;
}

#topArc{
  x: $+20;
  y: 95;
  width: 115;
  height: 85;
  fill: aqua;
  arc-width: 5;
  start-angle: 0;
  sweep-angle: 360;
}
#bottomArc{
  x: 10;
  y: 110;
  width: 280;
  height: 150;
  fill: deeppink;
  arc-width: 5;
  start-angle: 0;
  sweep-angle: 360;
}
.topText{
  font-size: 25;
  font-family: Colfax-Regular;
  text-length: 15;
  x: $+60;
  y: 165;
  fill: white;
}
.bottomText{
  font-size: 25;
  font-family: Colfax-Regular;
  text-length: 15;
  text-anchor: middle;
  x: $+70;
  y: 215;
  fill: white;
}
#outerBottomBorder{
  x: 0;
  y: 265;
  width: 99%;
  height: 10%;
  fill: greenyellow;
}
#innerBottomBorder{
  x: 1;
  y: 268;
  width: 98%;
  height: 8%;
  fill: black;
}

#numOfDay{
  font-size: 15;
  font-family: Seville-Bold;
  text-length: 40;
  x: 30;
  y: 284;
  fill: white;
}
.bottomImage{
  x: $+10;
  y: 195;
  fill: white;
  height: 8%;
  width: 8%;
}
.topImage{
  x: $+10;
  y: 130;
  fill: white;
  height: 8%;
  width: 8%;
}
